$main: #1F4E79;
$primary: #2F5597;
$border1: #0070C0;
$border2: #DEEBF7;
$border3: #AFABAB;
html,body {
	padding: 0;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
}
h1,h2 {
	text-align: center;
	font-weight: 100;
	color: $main;
	text-transform: uppercase;
}
h2 {
	color: $primary;
}
h3 {
	text-align: center;
}
p {
    text-indent: 21px; /* Отступ первой строки в пикселах */
    font-size: 14pt;
    text-align: justify;
    padding: 8px;
}
.title {
	font-weight: 100;
	text-align: start;
	color: $main;
	font-size: 26pt;
	margin-top: 13px;
	margin-bottom: 0;
}
.textr {
	font-size: 16pt;
	padding-top: 0px;
	margin-top: 13px;
	margin-bottom: 0;
}
.subp{
	margin: 0;
	color: $main;
	font-size: 15pt;
	font-weight: 500;
}
.container {
	max-width: 900px;
	margin: 0 auto;
}
.first-logo {
	display: block;
	padding: 10px;
	margin: 0 auto;
	width: 200px;
	margin-top: 13px;
}
.blogo{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 13px;
}
.blogo1{
	width:288px;
	height: 66px;
}
.blogo2{
	width:68px;
	height: 68px;
}
.blogo3{
	width:70px;
	height: 69px;
}
.blogo4{
	width:77px;
	height: 71px;
}
.blogo5{
	width:110px;
	height: 66px;
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    & > .col-2, .col-8, .col-7, .col-3, .col-3-3, .col-6-6 {
     		position: relative;
		    position: relative;
		    width: 100%;
		    min-height: 1px;
    	}
    & > .col-2 {
	     -webkit-box-flex: 0;
	    -webkit-flex: 0 0 20%;
	    -ms-flex: 0 0 20%;
	    flex: 0 0 19.8%;
	    max-width: 20%;
    }
    & > .col-8 {
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 80%;
	    -ms-flex: 0 0 80%;
	    flex: 0 0 80%;
	    max-width: 80%;
    }
    & > .col-7 {
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 70%;
	    -ms-flex: 0 0 70%;
	    flex: 0 0 70%;
	    max-width: 70%;
    }
    & > .col-3-3 {
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 33.3332%;
	    -ms-flex: 0 0 33.3332%;
	    flex: 0 0 33.3332%;
	    max-width: 33.3332%;

    }
    & > .col-6-6 {
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 66.6666%;
	    -ms-flex: 0 0 66.6666%;
	    flex: 0 0 66.6666%;
	    max-width: 66.6666%;

    }
    & > .col-3 {
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 30%;
	    -ms-flex: 0 0 30%;
	    flex: 0 0 30%;
	    max-width: 30%;

    }
}
section {
	padding-top: 0px;
	padding-bottom: 8px;
	margin-top: 8px;
	h1,h2,h3 {
		padding:5px;
		padding-top: 0;
		margin:5px;
		text-align: start;
	}
	ul {
	    list-style: none;
     	padding: 5px;
	}

	ul li:before {
	    content:  "—";
	    position: relative;
	    left:     -5px;
	}
	h2 {
		font-size: 13pt;
	}
	p {
		text-indent: 0px;
		margin-top: 0;
		margin-bottom:0;
		padding-top: 5px;
		padding-bottom:0;
    	text-align: start;
    	font-size: 11pt
	}
}
.pt-8 {
	padding-top: 8px;
}
.indent {
	text-indent: 21px;
	& > h1,h2,h3,p {		
		text-indent: 21px;
	}
}
.indent-none {	
	text-indent: 0px;
}
.color-primary {
	color: $main;
}
.border-primary {
	border-left-color: $border1 !important;
	border-left-width: 13px !important;
    border-left-style: solid !important;
}
.border-light {
	border-left-color: $border2 !important;
	border-left-width: 13px !important;
    border-left-style: solid !important;
}
.bg-light {
	background-color: $border2;
}
.border-gray {
	border-left-color: $border3 !important;
	border-left-width: 13px !important;
    border-left-style: solid !important;
}
.menu {
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		& > li {
			display: inline-block;
			& > a {
				color: blue;
				text-decoration: none;
				padding: 10px 20px;
				display: inline-block;
				background-color: #eee;
				border-radius: 5px;
				&:hover {
					background:blue;
					color: white;
				}
			}
		}
	}
}
.text-center {
	text-align: center;
}